<html>
<head>
	<title>New User</title>
</head>
<body>
	<form method="POST" action="new">
		<input type="text" name="username"/> <br>
		<input type="password" name="password"/> <br>
		<input type="submit"/>
	</form>
</body>
</html>