<html>
<head>
  <title>New Post</title>
</head>
<body>
  <form method="POST" action="create">
    <input type="text" name="title"/> <br>
    <textarea name="content"></textarea>
    <input type="submit"/>
  </form>
</body>
</html>